.logo {
  color: var(--title-color);
  font-weight: var(--semi-font);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .logo {
    font-size: 1.8rem;
    transition: 0.8s;
  }
  .logo:hover {
    color: var(--first-color-hover);
    transition: 0.3s;
  }
}
