.item {
  display: block;
  text-align: center;
}

.item > .value {
  font-size: 2rem;
  font-weight: var(--semi-font);
  color: var(--title-color);
}

@media screen and (min-width: 1024px) {
  .item > .value {
    font-size: 2.4rem;
  }
}

.item > .text {
  font-size: 1.2rem;
  color: var(--text-color);
}

@media screen and (min-width: 1024px) {
  .item > .text {
    font-size: 1.4rem;
  }
}
