.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .item {
    padding: 0;
    margin-right: 0;
    cursor: pointer;
  }
  .item > .link {
    transition: 0.3s;
  }
  .item:hover > .link {
    color: var(--first-color-hover);
    transition: 0.3s;
  }
  /* .header > .container > .main-nav > .list > */
  .item:not(:first-child) {
    margin-left: 3rem;
  }
}

.item > .link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: var(--semi-font);
  color: var(--text-color);
}

@media screen and (min-width: 1024px) {
  .item > .link {
    font-size: 1.4rem;
  }
}

.link > svg {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .link > svg {
    display: none;
  }
}

.link > svg path {
  fill: var(--text-color);
}

.link.-active {
  color: var(--first-color);
}

.link.-active > svg path {
  fill: var(--first-color);
}
