/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

.contactForm {
  position: absolute;
  padding: 70px 50px;
  padding-left: 250px;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 100%;
  background: #fff;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}

.contactForm h2 {
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
}

.formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.inputBox {
  position: relative;
  margin-bottom: 35px;
}

.inputBox.w50 {
  width: 47%;
}

.inputBox.w100 {
  width: 100%;
}

.inputBox input,
.inputBox textarea {
  width: 100%;
  resize: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
  border-bottom: 1px solid #777;
}

.inputBox textarea {
  height: 120px;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  transition: 0.3s;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #095a55;
  font-weight: 500;
}

/* Css for the submit button */
.inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #095a55;
  border-radius: 20px;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
}

.inputBox input[type="submit"]:hover {
  background: #0d9480;
}

/* make the form responsive */
@media (max-width: 1200px) {
  .contactForm {
    position: relative;
    width: calc(100% - 350px);
    padding-left: 0;
    margin-left: 0;
    padding: 40px;
    height: 550px;
    box-shadow: none;
    border-radius: 0px;
  }
}

@media (max-width: 991px) {
  .contactForm {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }
}

@media (max-width: 600px) {
  .contactForm {
    padding: 25px;
  }

  .contactForm .formBox .inputBox.w50 {
    width: 100%;
  }
}
