/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

.contactInfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: #095a55;
  z-index: 2;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
  border-radius: 22px;
}

.contactInfo h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

ul.info {
  position: relative;
  margin: 20px 0;
}
ul.info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}

ul.info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

/* for gmail */
ul.info li span a {
  color: #fff;
  text-decoration: none;
  width: 30px;
  min-width: 30px;
}

ul.info li span:nth-child(1) img {
  max-width: 100%;
  filter: invert(1);
}

ul.info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
}

ul.sci {
  position: relative;
  display: flex;
}

ul.sci li {
  list-style: none;
  margin-right: 15px;
}

ul.sci li a {
  text-decoration: none;
}

ul.sci li a img {
  filter: invert(1);
}

/* make the form responsive */
@media (max-width: 1200px) {
  .contactInfo {
    top: 0;
    height: 550px;
    position: relative;
    box-shadow: none;
    border-radius: 0px;
  }
}

@media (max-width: 991px) {
  .contactInfo {
    width: 100%;
    height: auto;
    flex-direction: row;
    border-radius: 0px;
  }
  ul.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .contactInfo {
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
  }

  ul.sci {
    margin-top: 40px;
  }
}
