/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

.sectionContactMe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #095a55;
  margin-top: 3%;
}
.sectionContactMe::before {
  content: "";
  position: absolute;
  /* bottom: 0;*/
  left: 0;
  width: 50%;
  height: 100%;
  background: #fff38e;
}

.container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 1;
  /* border-radius: 22px; */
  /* background-color: #fff; */
}

/* make the form responsive */
@media (max-width: 1200px) {
  .container {
    width: 90%;
    min-width: auto;
    margin: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 991px) {
  .sectionContactMe {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff38e;
  }

  .sectionContactMe::before {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  .container .contactForm {
    padding: 25px;
  }
}
